<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about"> About ( Who we are )</a></p>
        <p><a href="/services"> Services ( What we do )</a></p>
        <p><a href="/contact"> Contact ( Feel free to contact )</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-car"></i> Professional Detailing</h3>
        <div style="text-align: center; margin-top: 20px;">
          <img src="/assets/img/nwfl-logo-square.jpg" alt="NW Florida Detailing Logo" style="max-width: 120px; height: auto;">
          <p style="margin-top: 10px; font-size: 12px; color: #666;">Pristine Coastal Shine</p>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="https://www.nwfldetailing.com">NWFLDetailing.com</a></p>
  </div>
</footer>
