<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="/assets/img/slider/lamborghini-detail.jpg" height="400" alt="Premium Car Detailing - Lamborghini">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">PREMIUM CAR DETAILING</h3>
                                <p class="carousel-body">PROFESSIONAL \ PRISTINE \ COASTAL SHINE</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="/assets/img/slider/porsche-detail.jpg" height="400" alt="Luxury Sports Car Detailing - Porsche">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">LUXURY SPORTS CARS</h3>
                                <p class="carousel-body">CERAMIC COATING \ PAINT PROTECTION \ EXCELLENCE</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="/assets/img/slider/porsche-interior.jpg" height="400" alt="Interior Detailing - Porsche">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">INTERIOR PERFECTION</h3>
                                <p class="carousel-body">LEATHER CARE \ STEAM CLEANING \ METICULOUS</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Our Services</h3>
                    <p class="services-header-body"><em> Professional Car Detailing in Northwest Florida </em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-car fa-5x"></span></p>
                        <h4 class="services-title">Exterior Detailing</h4>
                        <p class="services-body">Complete exterior wash, wax, and protection. Hand washing, clay bar treatment, and premium wax application for that perfect shine.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-home fa-5x"></i></p>
                        <h4 class="services-title">Interior Detailing</h4>
                        <p class="services-body">Deep cleaning of interior surfaces, upholstery, carpets, and dashboard. Steam cleaning and conditioning for a fresh, clean cabin.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-shield fa-5x"></i></p>
                        <h4 class="services-title">Paint Protection</h4>
                        <p class="services-body">Professional paint correction, ceramic coating, and paint protection film application to keep your vehicle looking new.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-magic fa-5x"></span></p>
                        <h4 class="services-title">Paint Correction</h4>
                        <p class="services-body">Remove swirl marks, scratches, and imperfections. Multi-stage polishing process to restore your paint's original luster.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-star fa-5x"></i></p>
                        <h4 class="services-title">Premium Packages</h4>
                        <p class="services-body">Complete detail packages combining multiple services for maximum value and protection. Perfect for special occasions.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-phone fa-5x"></i></p>
                        <h4 class="services-title">Mobile Service</h4>
                        <p class="services-body">We come to you! Professional detailing at your home or office. Convenient scheduling that fits your busy lifestyle.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
